* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;

  }
  

  .container {
    margin-top: 40px;
    text-align: center;
  }


  .tables {
      align-items: center;
      display: flex;
      flex-direction: row;
  }
  
  #table01 {
    flex: 5%;
  }

  #table02 {
    flex: 5%;
  }

  th, td {
    text-align: left;
    padding: 9px;
  }