* {
    margin: 0 auto;
    padding: 0;
    color: black;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}

body {
    background-color: #e9a208;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
    gap: 10px;
}

button {
    background-color: #e7e7e7;
    color: black;
    cursor: pointer;
    border: none;
    padding: 5px;
    border-radius: 3px;
    letter-spacing: 0.2px;
    transition: 0.7s;
}

button:hover {
    background-color: #979191;
}

table {
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #40a227;
}

tr:nth-child(odd) {
    background-color: #307d1c;
}

th {
    background-color: #274dda;
}

th, td {
    padding: 12px 22px;
}





















/* body {
    background-color: #bf8d22;
    font-family: 'Roboto Mono', monospace;
}

#container {
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    bottom: 3rem;
    gap: 10px;
}

button {
    transition: 0.7s;
    position: relative;
    top: 5rem;
    pointer-events: auto;
    cursor: pointer;
    background-color: #e7e7e7;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: inherit;
}

.cerveja {
    background-color: green;
    padding: 8px 22px;
}

table {
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: red;
}

tr:nth-child(odd) {
    background-color: purple;
}

th, td {
    padding-block-end: 12px 22px;
} */